site_name: chromatic
site_url: https://zkbt.github.com/chromatic
nav:
    - Welcome: index.md
    - installation.ipynb
    - quickstart.ipynb
    - User Guide:
        - basics.ipynb
        - io.ipynb
        - creating.ipynb
        - actions.ipynb
        - visualizing.ipynb
        - models.ipynb
    - Examples:
        - example-timeseries-spectra.ipynb
    - Developer Guide:
        - designing.ipynb
        - documentation.ipynb
        - github.ipynb
    - Related Tools:
        - tools/spectra.ipynb
        - tools/binning.ipynb
        - tools/colormaps.ipynb
    - api.md
theme:
  name: "material"
  features:
      - navigation.tracking
repo_url: https://github.com/zkbt/chromatic/
plugins:
  - search
  - mkdocs-jupyter:
      execute : True
      include_source : True
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [../chromatic]
          selection:
            docstring_style: "numpy"
          rendering:
            show_source: True
            show_root_heading: True
            show_root_toc_entry: False
            show_root_full_path: False
            show_category_heading: False
            show_submodules: False
            merge_init_into_class: False
            show_if_no_docstring: False
            heading_level: 3
            show_bases: False
      custom_templates: templates
      watch:
        - chromatic
  - exclude:
      glob:
        - "example-datasets/*"
        - "*.pdf"
markdown_extensions:
    - toc:
        permalink: "#"

# this is super borrowed from Christina Hedges' fabulous
# https://christinahedges.github.io/astronomy_workflow/
